#asciinema
#lolcat
#pandas

#Useful xontribs for xonsh
#-------------------------
#xontrib-pipeliner        # Let your pipe lines flow thru the Python code in xonsh.
#xontrib-output-search    # Get identifiers, paths, URLs and words from the previous command output and use them for the next command in xonsh shell. 
#xontrib-prompt-bar       # The bar prompt for xonsh shell with customizable sections.
#xontrib-argcomplete      # Argcomplete support to tab completion of python and xonsh scripts in xonsh shell. 
